@model gitInsta.Models.loginpass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IsGood</title>
</head>
<body>
    <div> 
        Сегодня @ViewBag.Datanow
    </div>
</body>
</html>
