
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Instagram от Валеры</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div id="navi" class="navbar navbar-fixed-top">
        <div class="col-xs-4"></div>
        <div class="col-xs-4"> <span class="logo"> Instagram</span> от Валеры @Html.TextBox("search", "Index", "Поиск")</div>
        <div class="col-xs-4"></div>


    </div>
    <div> 


        Логин<input type="text" name="login" id="login" /><br />
        Пароль<input type="password" name="pass" id="pass" />

        <p><input type="submit" value="Войти" /></p>
    </div>
</body>
</html>
