
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Авторизация</title>
</head>
<body>
    <div> 
        Логин<input type="text" name="login" id="login" /><br />
        Пароль<input type="password" name="pass" id="pass" />

        <p><input type="submit" value="Войти" /></p>
    </div>
</body>
</html>
